[*.cs]

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0008.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0058.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0010.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.NamingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = none
dotnet_diagnostic.SA1604.severity=silent
dotnet_diagnostic.SA1611.severity=silent

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# CS0612: Type or member is obsolete
dotnet_diagnostic.CS0612.severity = none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

[*.{cs,vb}]
dotnet_diagnostic.CA1305.severity=silent

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = none
