<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutosaveEnabled" value="false"/>
    <add key="AutosaveInterval" value="1"/>
    <add key="UseCoinWeight" value="false"/>
    <add key="UseEncumbrance" value="true"/>
    <add key="MuteSounds" value="true"/>
    <add key="CheckVersion" value="true"/>
    <add key="UnitOfMeasurement" value="0"/>
  </appSettings>
</configuration>